<div class="header">
  <div class="head-line">
    <img src="assets/images/burger.png" alt="Menu" (click)="openMenu()" />
    <h2>Budget Book</h2>
    <a href="/statistics">
      <img src="assets/images/chart.png" alt="Statistics" />
    </a>
  </div>
  <div class="menu" *ngIf="isShow">
    <ul>
      <a href="/">
        <li>Home</li>
      </a>
      <span (click)="toggleForm()"><li>Add Item</li></span>
      <a href="/logout">
        <li>Logout</li>
      </a>
    </ul>
  </div>
  <div class="amount">
    <div>
      <h3>Total</h3>
      <span>${{ calcTotalAmount(expensesList) }}</span>
    </div>
    <div>
      <h3>Income</h3>
      <span>${{ calcTotalIncome(expensesList) }}</span>
    </div>
    <div>
      <h3>Expenses</h3>
      <span>${{ calcTotalExpense(expensesList) }}</span>
    </div>
  </div>
</div>

<div class="form" *ngIf="isVisible">
  <button class="close-button" (click)="toggleForm()">X</button>
  <h2>New Expense</h2>
  <div class="form-id" style="display: none">
    <label for="expenseId">ID:</label><br />
    <input type="text" id="expenseId" [(ngModel)]="expenseId" required />
  </div>
  <div class="form-name">
    <label for="expenseName">Name:</label><br />
    <input type="text" id="expenseName" [(ngModel)]="expenseName" required />
  </div>
  <div class="form-amount">
    <label for="expenseAmount">Amount:</label><br />
    <input
      type="number"
      id="expenseAmount"
      [(ngModel)]="expenseAmount"
      required
    />
  </div>
  <div class="form-type">
    <div><label>Type:</label></div>

    <div>
      <input
        type="radio"
        name="expenseType"
        value="expense"
        [(ngModel)]="expenseType"
        required
      />
      Expense
      <input
        type="radio"
        name="expenseType"
        value="income"
        [(ngModel)]="expenseType"
        required
      />
      Income
    </div>
  </div>
  <div class="form-date">
    <label for="expenseDate">Date:</label><br />
    <input type="date" id="expenseDate" [(ngModel)]="expenseDate" required />
  </div>
  <div class="form-category">
    <label for="expenseCategory">Category:</label><br />
    <select id="expenseCategory" [(ngModel)]="expenseCategory" required>
      <option value="food">Food</option>
      <option value="gift">Gift</option>
      <option value="groceries">Groceries</option>
      <option value="rent">Rent</option>
      <option value="salary">Salary</option>
      <option value="utilities">Utilities</option>
      <option value="others">Others</option>
    </select>
  </div>

  <button class="add-button" (click)="addExpense()">Add</button>
</div>
