body {
  background-color: #222;
  color: #fff;
}

.header {
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header img {
  width: 20px;
  height: 20px;
}

.head-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  display: flex;
  justify-content: space-between;
}

.menu {
  position: absolute;
  top: 25;
  left: 8;
  width: 200px;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
}

.menu li:hover {
  background-color: #444;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.form {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
  position: absolute;
  top: 18em;
  bottom: 7em;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  z-index: 9000;
  color: #fff;
  height: 500px;
  max-width: 500px;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form select,
.form input[type="radio"] {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
  border-radius: 3px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: calc(100% - 18px);
}

.form-type div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-type div input[type="radio"] {
  margin-right: 5px;
}

.add-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

.add-button:hover {
  background-color: #0056b3;
}

.add img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.add img:hover {
  opacity: 0.7;
}

.close-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

.close-button:hover {
  color: #ccc;
}
