.expense {
  display: flex;
  justify-content: space-between;
}

.expense img {
  width: 25px;
  height: 25px;
}

ul {
  padding: 0 1em;
  margin: 0;
}

li {
  list-style-type: none;
  margin-top: 2em;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1em;
}
