.list {
  max-height: 100%;
  padding: 0;
}

.expense {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  align-items: center;
}

.expense img {
  width: 100%;
  max-width: 30px;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

ul p {
  margin: 0;
  font-weight: bold;
  font-size: 1.2em;
}

ul span {
  font-size: 0.8em;
}

li {
  list-style-type: none;
  margin-top: 1.5em;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1em;
}

li:last-child {
  border: none;
}

li img {
  padding-left: 16px;
}

.page-container {
  display: flex;
  justify-content: center;
}

.page-container img {
  margin: 2em;
}

.container {
  position: relative;
  overflow-x: hidden;
}

.additional-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease;
}

.additional-content img {
  padding-right: 16px;
}

.additional-content.show {
  right: 0;
}

.form {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
  position: absolute;
  top: 18em;
  bottom: 7em;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  z-index: 9000;
  color: #fff;
  height: 500px;
  max-width: 500px;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form select,
.form input[type="radio"] {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
  border-radius: 3px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: calc(100% - 18px);
}

.form-type div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-type div input[type="radio"] {
  margin-right: 5px;
}

.edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.add img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.add img:hover {
  opacity: 0.7;
}

.close-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

.close-button:hover {
  color: #ccc;
}

.hidden-button {
  display: none;
}

@media only screen and (min-width: 600px) {
  .hidden-button {
    display: block;
  }

  .hidden-button img {
    margin: 0 1em;
  }
}
