body {
  box-sizing: border-box;
}

.info-banner {
  background-color: #1e1e1e;
  color: #fff;
  height: 220px;
  padding: 0.8em;
}

.info-banner img {
  width: 25px;
  height: 25px;
}

.head-line {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount {
  display: flex;
  justify-content: space-between;
}

.add {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}
