<div class="info-banner">
  <div class="head-line">
    <img src="assets/images/burger.png" />
    <h2>Budget Book</h2>
    <img src="assets/images/chart.png" />
  </div>
  <div>MONTH</div>
  <div class="amount">
    <div>
      <h3>Total</h3>
      <span>amount</span>
    </div>
    <div>
      <h3>Incomes</h3>
      <span>amount</span>
    </div>
    <div>
      <h3>Expenses</h3>
      <span>amount</span>
    </div>
  </div>
</div>

<div>
  <app-expense-list></app-expense-list>
</div>

<div>
  <app-expense-form></app-expense-form>
</div>
