apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: frontend
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - image: frontend:latest
          imagePullPolicy: Never
          name: frontend
          ports:
            - containerPort: 8080
              protocol: TCP
      restartPolicy: Always