name: 'Auth'

on:
  push:
    branches:
      - 'feature/**'
    paths:
      - auth
  workflow_dispatch:
    
jobs:
  deployment-of-b-book-compose:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          ref: feature/github_workflow 
      - name: change directory
        run: cd auth
      - name: ci
        run:  npm ci
      - name: lint 
        run: npm run lint
      - name: test
        run: npm run test
      - name: build
        run: npm run build